<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <!-- The home screen structure or main hero  -->
        <div>
             <h1 class="main">WELCOME TO TOO-DOOO</h1>
             <h2 class="main">
             Keep The Track Of Your Daily work 
             </h2>
             <a href="http://localhost:8000/main/todo" class="main" ><button type="button" id="butt" >Lets ToDooo!</button></a>
        </div>
    </body>
</html>